<!DOCTYPE html>
<html>
<head>
    <title>출판공정관리프로그램</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='extjs/resources/css/ext-all-neptune-debug.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Notification.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='extjs/bootstrap.js') }}"></script>
    <script type="text/javascript">
    Ext.Loader.setConfig({
        enabled: true
    });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app/sqpublisher.js') }}"></script>
    <style type="text/css">
        .field-margin {
            margin: 3px 0 3px 0;
        }

        .unit-cost-desc {
            line-height: 170%;
        }
    </style>
</head>
<body data-login_id="{{ session.logined_id }}">
</body>
</html>