<!DOCTYPE html>
<html>
<head>
    <title>출판공정관리 프로그램</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <style type="text/css">
        #fullBg {
          z-index: -1;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0px;
          background: url('{{ url_for("static", filename="images/IMG_20140724_172839.jpg") }}') no-repeat center center fixed;
          background-size: cover;
        }

        .form-signin {
          max-width: 280px;
          margin: 60px auto 10px;
        }

        .form-signin .form-signin-heading {
          text-align: center;
          font-weight: bold;
          color: #fff;
          margin-bottom: 20px;
        }

        .form-signin .checkbox {
          font-weight: normal;
        }

        .form-signin .form-control {
          position: relative;
          font-size: 16px;
          height: auto;
          padding: 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }

        .form-signin input[type="text"] {
          margin-bottom: -1px;
          border-top: 1px solid transparent;
          border-right: 1px solid transparent;
          border-left: 1px solid transparent;
          box-shadow: none;
          border-radius: 3px 3px 0px 0px;
        }

        .form-signin input[type="text"]:focus {
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .form-signin input[type="password"] {
          z-index: 2;
          margin-bottom: 20px;
          border-top: none;
          border-bottom: 1px solid transparent;
          border-right: 1px solid transparent;
          border-left: 1px solid transparent;
          border-radius: 0px 0px 3px 3px;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .form-signin input[type="password"]:focus {
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
        }

        .form-signin .btn {
          font-weight: bold;
          border-radius: 3px;
          border: none;
        }

        p.sign-up {
          color: #fff;
          font-size: 12px;
        }
    </style>
    <script type="text/javascript">
        $(function() {
            $("button[type=submit]").click(function(e) {
                var form = $(this).parent();

                $.post($(form).attr("action"), {
                    username: $("input[name=username]").val(),
                    password: $("input[name=password]").val()
                }, function(data) {
                    if (data['success']) {
                        location.href = "/";
                    } else {
                        alert(data['message'])
                    }
                }, "json");

                e.preventDefault();
            });
        });
    </script>
</head>
<body>
    <div id="fullBg">
        <div class="container">
          <form class="form-signin" method="post" action="/req_login">
              <h1 class="form-signin-heading">SQPublisher</h1>
              <input type="text" class="form-control" name="username" placeholder="이메일 주소" required="" autofocus="" />
              <input type="password" class="form-control" name="password" placeholder="사용자 암호" required=""/>

              <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
            </form>
          <p class="text-center sign-up">가입하시려면 관리자에게 문의해주세요</p>
        </div>
    </div>
</body>
</html>